.Login {
    height: 425px;
    width: 350px;
    background: #ffffff;
    border-radius: 8px;
    padding: 34px 40px;
    box-shadow: 0 0 12px #6b6b6b;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.Login__title {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.Login__title-text {
    font-size: 18px;
    text-transform: capitalize;
    color: #171717;
    margin-left: 50px;
}
.Login__input{
    height: 50px;
    padding-left: 15px;
    width: calc(100% - 15px);
    border-radius: 4px;
    border: 1px solid rgba(59,59,59,.2);
    margin-bottom: 15px;
}
.Login__form{
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.Login__Forgot-pass{
    font-size: 14px;
    color: rgba(59,59,59,.35);
    text-decoration: none;
    text-align: center;
    margin-bottom: 15px;
    align-self: center;
}
.Modal__log-in--button{
    width: 100%;
    height: 44px;
    font-size: 16px;
    font-weight: 600;
    background-color: #61d5df;
    border-radius: 4px;
    color: #ffffff;
    border:none;
    cursor: pointer;
}
.Modal__log-in-with{
    font-size: 14px;
    text-decoration: none;
    color: rgba(59,59,59,.35);
    margin-top: 20px;
    text-transform: capitalize;
    margin-bottom: 30px;
}
.Login__buttons--wrapper{
    display: flex;
}
.Login__buttons{
    outline: 0;
    border: none;
    width: 170px;
    height: 44px;
    display: -webkit-box;
    margin: 0 5px 0 5px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 4px;
    background-color: rgba(218,219,221,.16);
    cursor: pointer;
}
.Login__icons{
    color: #114eb6;
}
.Login__sign-up-wrapper{
    margin-top: 20px;
}
.Login__no-account{
    font-size: 15px;
    color: rgba(59,59,59,.64);
    margin-right: 8px;
}
.Login__sign-up{
    outline: 0;
    text-decoration: none;
    cursor: pointer;
    color: rgba(59,59,59,.72);
    font-size: 15px;
    font-weight: 600;
}

/*Sign up*/

.SignUp {
    height: 575px;
    width: 350px;
    background: #ffffff;
    border-radius: 8px;
    padding: 34px 40px;
    box-shadow: 0 0 12px #6b6b6b;
    display: flex;
    flex-flow: column;
    align-items: center;
}