.Landing{
    background-image: url("../../assets/hero-1.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.Landing__header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: rgba(36,41,62,.8);
}
.Header__logo img {
    height: 40px;
    margin-left: 25px;
}
.landing__Header__nav{
    display: flex;
    margin-right: 25px;
}
.landing__nav--list{
    list-style: none;
    display: flex;
    align-items: center;
}
.landing__nav--list li {
    cursor: pointer;
    font-size: 14px;
    padding: 0 13px 0 13px;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
}
.Landing__sign-up{
    height: 42px;
    width: 120px;
    cursor: pointer;
    border-radius: 4px;
    background: transparent;
    border: solid 2px #61d5df;
    color: #61d5df;
    font-weight: 900;
    margin-right: 10px;
    text-transform: uppercase;
}
.Landing__login{
    text-transform: uppercase;
    color: #61d5df;
    cursor: pointer;
    border: none;
    background: transparent;
    font-weight: 900;
}

/*Landing body*/

.Landing__body{
    width: calc(100% - 57px);
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
.Banner{
    width: 950px;
    height: 274px;
    background-color: rgba(36,41,62,.8);
    font-weight: 400;
    font-size: 36px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
.Banner__logo{
    margin-bottom: 15px;
}
.Landing__body--sing-up{
    background-color: #61d5df;
    text-transform: uppercase;
    font-size: 16px;
    border: none;
    color: #fff;
    margin-top: 30px;
    border-radius: 4px;
    text-align: center;
    width: 180px;
    height: 55px;
    font-weight: 500;
    cursor: pointer;
}

.Authentication__modal{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(152, 163, 199, 0.3);
}