.cart__table--wrapper{
    margin-left: 57px;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cart__table--container{
    margin-top: 100px;
    max-width: calc(100% - 100px);
    height: max-content;
    box-shadow:0 6px 6px rgba(10,16,20,.15), 0 0 52px rgba(10,16,20,.12);border:0;
    border-radius: 4px;
    max-height: calc(100% - 240px);
}
.cart__table--container::-webkit-scrollbar {
    display: none;
}
.cart__table{
    background-color: #fefefe;
    max-height: 600px;
}
.cart__table--header{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
}
.cart__delete--icon{
    color: #798e9e;
}
.cart__delete--icon:hover{
    color: #61d5df;
    cursor: pointer;
}
.table__header--cell{
    font-size: 14px;
    font-weight: 900;
    color: #303856;
    display: flex;
}
.cart__cell--image{
    height: 80px;
    width: 80px;
    object-fit: scale-down;
}