.ProductDelete {
    width: 310px;
    height: 140px;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 12px #6b6b6b;
    margin-left: 50px;
    margin-top: 50px;
}

.ProductDelete__title {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 16px;
    text-align: center;
    color: #313131;
}
.ProductDelete__buttons{
    margin: 30px 20px 0 20px;
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
}
.ProductDelete__buttons button{
    width: 120px;
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 6px;
    border:none;
    color: white;
    cursor: pointer;
}
.ProductDelete__yes{
    background-color: #61d5df;
}
