.Aside {
    height: 100%;
    width: 57px;
    position: fixed;
    background-color: #fff;
    border-right: 1px solid #dde3ee;
}
.Aside__logo{
    padding: 30px 0 30px 0;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #dde3ee;
}
.Aside__logo__icon{
    width:40px;
}
.Aside__nav{
    display: flex;
    align-items: center;
    flex-flow: column;
}
.Aside__nav__profile{
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
    background-image: linear-gradient(147deg,#61d5df -3%,#61d5df 101%);
    padding: 1px;
    margin: 10px 0 10px 0;
    height: 30px;
    width: 30px;
}
.Aside__nav__icon{
    margin: 15px 0 15px 0;
    height: 22px;
    width: 20px;
}


/*.Icon__active > svg > g > g > g  > g > g > path{*/
/*    fill: #61d5df !important;*/
/*}*/