.cart__header{
    height: 84.5px;
    border-bottom: 1px solid #dde3ee;
    margin-left: 57px;
    width: calc(100% - 57px);
    position: fixed;
    z-index: 10;
    display: flex;
    align-items: center;
}
.cart__header--title{
    color: #303856;
    font-size: 18px;
    font-weight: 600;
    margin-left: 50px;
}