.cart__footer{
    width: calc(100% - 160px);
    height: 90px;
    background-color: #fefefe;
    margin-top: 15px;
    padding: 0 30px;
    border-radius: 8px;
    box-shadow:0 6px 6px rgba(10,16,20,.15), 0 0 52px rgba(10,16,20,.12);border:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__continue--arrow{
    color: #ffffff;
    margin-right: 10px;
}
.footer--button{
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 4px;
    height: 38px;
    background-color: #61d5df;
    font-weight: 700;
    text-transform: uppercase;
    color: #f9fbfe;
    text-align: center;
    border: none
}
.cart__footer--checkout{
    display: flex;
    align-items: center;
}
.footer__checkout--total{
    font-size: 18px;
    color: #303856;
    font-weight: 600;
    margin-right: 20px;
}
.checkout__price{
    color: #4785ef;
}
