.Header{
    margin-left: 314px;
    height: 75px;
    width: calc(100% - 314px);
    position: fixed;
    z-index: 10;
}
.Header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Header__nav{
    padding: 0 25px 0 25px;
    height: 75px;
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Blue__button{
    text-transform: uppercase;
    height: 32px;
    border-radius: 4px;
    border: none;
    background-color: #61d5df;
    font-size: 12px;
    font-weight: 600;
    color: white;
    padding: 0 14px;
    cursor: pointer;
}
.Search__input{
    height: 32px;
    width: 200px;
    margin-right: 10px;
    border-radius: 8px;
    font-size: 13px;
    outline: 0;
    color: #29304b;
    padding: 0 16px;
    border: 1px solid rgba(95,102,115,.1);
    display: flex;
    align-items: center;
}
.Nav__count{
    padding: 0 10px 0 10px;
    font-size: 12px;
    font-weight: 600;
}
.Header__sort{
    height: 45px;
    background-color: white;
}
.Product__hover{
    width: 100%;
    justify-content: space-between;
}
.Nav__search{
    display: flex;
    align-items: center;
}
.add__product--icon{
    color: #61d5df;
    margin-right: 8px;
    cursor: pointer;
}
