.Sidebar{
    margin-left: 57px;
    height: 100%;
    width: 257px;
    position: fixed;
    background-color: #ECEDF5;
}
.Sidebar__tab{
    display: flex;
    flex-flow: row wrap;
    color: white;
    min-height: 52px;
    width: calc(100% - 30px);
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 0 15px;
    font-size: 15px;
}
.Sidebar__arrow-icon{
    width: 10px;
    height: 10px;
}
.Sidebar__niche{
    background-color: #5d6b9f;
}
.Sidebar__category {
    background-color: #9da9d5;
}
.Sidebar__category--title{
    margin: 13px 0 13px 0;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-flow: row wrap;
    width: 100%
}

.Category__item{
    padding: 0 0 10px 0;
    font-size: 14px;
}
.Sidebar__select{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.Sidebar__select-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 45px);
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    border-bottom: 1px solid #dbe0f3;
    margin: 10px 0;
    font-size: 14px;
    font-weight: 500;
    color: #29304b;
    padding: 12px;
    text-transform: uppercase;
}

.Sidebar__slider{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.Sidebar__slider-name{
    text-transform: uppercase;
    font-size: 13px;
    margin: 10px 0;
    font-weight: 600;
    color: #323949;
}
.slider__comp--wrapper {
    width: calc(100% - 25px);
}
.Sidebar__reset--slider{
    height: 41px;
    width: calc(100% - 25px);
    background: #61d5df;
    margin-top: 15px;
    color: #fff;
    font-weight: 400;
    text-align: center;
    border: 1px solid #61d5df;
    border-radius: 4px;
    font-size: 13px;
    padding: 10px 0;
    cursor: pointer;
    text-transform: uppercase;
}
.Sidebar__filter{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
