.product__create {
    height: 475px;
    width: 350px;
    background: #ffffff;
    border-radius: 8px;
    padding: 34px 40px;
    box-shadow: 0 0 12px #6b6b6b;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.create__product__wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product__add__field {
    height: 50px;
    padding-left: 15px;
    width: calc(100% - 15px);
    border-radius: 4px;
    border: 1px solid rgba(59, 59, 59, .2);
    margin-bottom: 22px;
}
.product__add__description{
    height: 100px;
    padding-left: 15px;
    width: calc(100% - 15px);
    border-radius: 4px;
    border: 1px solid rgba(59, 59, 59, .2);
    /*display: flex;*/
    /*align-items: start;*/
    margin-bottom: 22px;
    overflow: hidden;
    align-self: flex-start;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    line-height: 1rem;
    max-height: 6rem;
    font-size: 13px;
}

.product__create__form {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.create__product--button {
    width: 100%;
    height: 44px;
    font-size: 16px;
    font-weight: 600;
    background-color: #61d5df;
    border-radius: 4px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

.product__create--title {
    margin-bottom: 20px;
    letter-spacing: -1px;
    font-weight: 700;
    color: #61d5df;
    text-transform: uppercase;
    line-height: 50px;
}

.product__create--logo {
    width: 120px;
    margin-bottom: 25px;
}