.Admin__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 84.5px;
    padding: 0 35px;
    border-bottom: 1px solid #dde3ee;
    margin-left: 57px;
    width: calc(100% - 127px);
    position: fixed;
    z-index: 10;
}
.Admin__title{
    font-size: 18px;
    font-weight: 600;
    color: #303856;
    text-transform: uppercase;
}
.Admin__title--button{
    width: 132px;
    height: 40px;
    border-radius: 4px;
    background-color: #e6eefc;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    border: none;
    color: #4785ef;
    text-transform: uppercase;
}